* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

@font-face {
  src: url("../font/Roboto-Light.ttf");
  font-family: Roboto-Light;
  src: url("../font/Roboto/Roboto-Regular.ttf");
  font-family: Roboto-Regular;
}

body {
  width: 100%;
  font-family: roboto;
}

.padding-height {
  padding: 100px;
  height: 371px;
}

.header {
  background-image: url("../images/banner.png");
  height: 673px;
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-right {
  padding: 5% 20%;
  justify-content: flex-end;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sign-in a {
  color: #8bc34a;
  border: 2px solid #8bc34a;
  border-radius: 100px;
  padding: 10px 15px;
  text-decoration: none;
}

.about-us a {
  margin-right: 20px;
  text-decoration: none;
}

.logo {
  justify-content: center;
}

.header-icon-box {
  padding: 60px;
  justify-content: center;
}

.header-icon {
  width: 200px;
  text-align: center;
  justify-content: center;
}

.header-icon p {
  font-size: 36px;
}

.list-icon {
  font-size: 48px;
}

.start-now {
  padding: 50px;
  text-transform: uppercase;
}

.sn a {
  font-size: 20px;
  text-decoration: none;
  border-radius: 100px;
  color: #ffffff;
  padding: 10px 30px;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  box-shadow: 1px 1.5px 5px #888888;
}
/* ==================end header=========================== */
.main {
  margin-left: auto;
  margin-right: auto;
}

.text1 {
  font-size: 63px;
}

.font-icon {
  font-size: 36px;
}

.today {
  box-shadow: 0 4px 8px #888888;
}

.background-in-main img {
  margin-right: 30px;
  margin-left: 30px;
  object-fit: contain;
}

.text2 {
  width: 555px;
  text-align: justify;
  line-height: 24px;
}

.start-now2 {
  margin-top: 30px;
  text-transform: uppercase;
}


/* =======================END today========================== */
.lists-content {
  height: 20em;
  background-image: linear-gradient(to right, #429321, #b4ec51);
}
.one-content {
  padding: 0 6%;
  flex-direction: column;
  color: #ffffff;
}
.big-circle {
  width: 6.5em;
  height: 6.5em;
}

.border-bm {
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.small-circle {
  width: 2.7em;
  height: 2.7em;
  background-color: #7cb342;
  margin-top: -20px;
}
.one-content p {
  font-size: 16px;
  letter-spacing: 1.33px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.7em;
}
.size-icon-list {
  font-size: 2.2em;
}
.small-circle span {
  font-size: 24px;
}
/* ===========END list green=================== */
.ti-check-box {
  color: #8bc34a;
}
/* =============End members===================== */
.customers {
  box-shadow: 0 -1px 8px #888888;
}

/* ==============End custommer==================================== */
.our-customer {
  height: 544px;
  width: 100%;
  background-image: url("../images/our-customer.png");
  color: white;
}

.one-customer {
  text-align: center;
  font-size: 13px;
  width: 144px;
}

.us {
  font-size: 48pt;
  letter-spacing: -0.09px;
  padding: 50px 0;
}

.bot-content-customer {
  margin-top: 50px;
}

.para-customer {
  line-height: 24px;
  width: 740px;
  text-align: justify;
  padding: 0 25px 0 25px;
  font-size: 17px;
}

.lr {
  font-size: 72px;
  opacity: 40%;
}

.ti-quote-left {
  padding-bottom: 100px;
}

.ti-quote-right {
  justify-content: flex-end;
  padding-top: 100px;
}
/* ============================================== */
.footer {
  height: 180px;
  background-color: #39474e;
}

.footer-block {
  width: 200px;
}

.footer-block p {
  color: white;
  font-size: 10px;
  margin-top: 30px;
}

.footer-icon {
  width: 142px;
  margin-top: 60px;
}

.footer-block span {
  color: #8bc34a;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: -0.03px;
}

.footer-text {
  margin-top: 30px;
}

.footer-text a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  letter-spacing: -0.02;
}

.footer-icon i {
  color: #8bc34a;
  flex-direction: row;
  width: 36px;
}
